<!doctype html>
<html lang="ja">
  <head>
    <title>リスト</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- 日本語フォント -->
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
    <style>
      body {
        font-family: "Sawarabi Gothic";
      }
    </style>
  </head>
  <body>
    <div class="container">
      <form action="/find/" method="get">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="title">タイトル</label>
              <input type="text" class="form-control" id="title" name="title" aria-describedby="titleHellp">
              <small id="titleHellp" class="form-text text-muted">ここにタイトルを入力してください。</small>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="content">内容</label>
              <input type="text" class="form-control" id="content" name="content">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col text-right">
            <a class="btn btn-primary" href="/newtodo/" role="button">New</a>
          </div>
          <div class="col text-right">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">id</th>
                <th scope="col">title</th>
                <th scope="col">content</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="todo : ${todoList}">
                <th th:text="${todo.id}" scope="row"></th>
                <td th:text="${todo.title}">Mark</td>
                <td th:text="${todo.content}">Otto</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
