<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
  <head th:replace="common::head">
  </head>
  <body>
    <div class="container">
      <form th:action="@{/register}" method="post">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="ID">ID</label>
              <input type="text" class="form-control" id="id" name="id" aria-describedby="idHellp">
              <small id="idHellp" class="form-text text-muted">IDは数字だけを入力してください。</small>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="title">タイトル</label>
              <input type="text" class="form-control" id="title" name="title" aria-describedby="titleHellp">
              <small id="titleHellp" class="form-text text-muted">ここにタイトルを入力してください。</small>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="content">内容</label>
              <input type="text" class="form-control" id="content" name="content">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col text-right">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
