<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hellospring.mapper.TodoListMapper">
  <select id="selectList" resultType="com.hellospring.domain.Todo" parameterType="com.hellospring.dto.FindParameter">
    SELECT
      *
    FROM
      todo
    <where>
      <if test="title != null">
        title LIKE CONCAT(#{title}, '%')
      </if>
    </where>
    ORDER BY
      title
  </select>
</mapper>
